* {
    padding: 0px;
    margin: 0;
}

#playground{
   
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#space {
    background: linear-gradient(#191970,rebeccapurple);
    border: 2px solid black;
    height: 720px;
    width: 1280px;
    
}

#player{
    position: absolute;
    top:530px;
    left:400px;
    height: 64px;
    width:64px;
    background-color: lightseagreen;
}

#ammo {
    position: absolute;
    background-color: indianred;
    height: 32px;
    width: 16px;
}
.destroyable {
    position: absolute;
    height: 64px;
    width:64px;
    background-color: lightsalmon;
}

